*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	color: var(--color-primary-dark);
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.1;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}

a {
	display: inline-block;
}

address {
	font-style: normal;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
