:root {
	--color-primary-dark: #011c44;
	--color-primary-blue: #2b7fff;
	--color-primary-light: #ffffff;
}

/* Base */
body {
	color: var(--color-primary-dark);
}

ul {
	list-style-type: none;
}

/* Button */
.button-order {
	background-color: var(--color-primary-blue);
	color: var(--color-primary-light);
	width: 219px;
	height: 53px;
	padding: 16px 32px 16px 32px;
	border-radius: 32px;
	border: 2px solid var(--color-primary-blue);
	cursor: pointer;
}

.button-order:hover {
	background-color: transparent;
	color: var(--color-primary-dark);
}

/* Link */
.link {
	color: var(--color-primary-dark);
}

.link:hover {
	color: var(--color-primary-blue);
}

/* hero-title section */
.hero-title {
	color: var(--color-primary-blue);
}

.section-title .accent {
	color: var(--color-primary-blue);
}
