.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 32px;
	padding-bottom: 32px;
	background: #ffffff40;
}

.header-container {
	display: flex;
	align-items: center;
	gap: 40px;
}

.header-nav {
	display: flex;
	align-items: center;
	flex-grow: 1;
	gap: 40px;
}

.header-menu {
	display: flex;
	gap: 56px;
	flex-grow: 1;
	justify-content: center;
}

.header-address {
	display: flex;
}

.address-icon {
	display: flex;
	gap: 32px;
}

.header-icon {
	fill: var(--color-primary-dark);
}

.header-icon:hover {
	fill: var(--color-primary-blue);
}
